@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.primaryDisplay {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  font-weight: 400;
  gap: 13px;
}

.secondaryDisplay {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 7px;
}

.display {
  font-style: normal;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
}

.displayTemp{
  font-size: 50px;
}

.displayCity{
  font-size: 32px;
  margin-left: auto;
}

